@import "tailwindcss";

@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Outfit.woff2") format("woff2");
}

@theme {
  --font-sans: "Outfit", "Aptos", sans-serif;
  --color-midnight: #1d416d;
  --color-sandstone: #e2d8c1;
  --color-sandstone-tint: #f7f4ed;
  --color-slate: #3b464c;
  --color-lagoon: #29a193;
}

body.modal-active{
  overflow: hidden
}